In [1]:
import acquire as a

In [2]:
a.get_mall_customers()

     Unnamed: 0  customer_id  gender  age  annual_income  spending_score
0             0            1    Male   19             15              39
1             1            2    Male   21             15              81
2             2            3  Female   20             16               6
3             3            4  Female   23             16              77
4             4            5  Female   31             17              40
..          ...          ...     ...  ...            ...             ...
195         195          196  Female   35            120              79
196         196          197  Female   45            126              28
197         197          198    Male   32            126              74
198         198          199    Male   32            137              18
199         199          200    Male   30            137              83

[200 rows x 6 columns]

In [4]:
a.get_zillow()

/Users/jp/codeup-data-science/clustering-exercises/acquire.py:30: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filename)

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,3,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,4,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,10833991,NaN,NaN,266.0,2.0,NaN,NaN,1.0,2864704,NaN,...,77608,-0.002245,2017-09-20,Central,NaN,NaN,Central,Condominium,NaN,NaN
77575,11000655,NaN,NaN,261.0,2.0,NaN,NaN,NaN,673515,NaN,...,77609,0.020615,2017-09-20,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77576,17239384,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2968375,NaN,...,77610,0.013209,2017-09-21,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
77577,12773139,NaN,NaN,261.0,2.0,NaN,NaN,1.0,1843709,NaN,...,77611,0.037129,2017-09-21,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
77578,12826780,NaN,NaN,261.0,2.0,NaN,NaN,NaN,1187175,NaN,...,77612,0.007204,2017-09-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN